<!-- usertask.component.html -->
<div class="RecipeList">
  <button class="styledbutton" (click)="setShowLogoutPopup()">Logout</button>
  <h1>Recipe Hub</h1>
  <div class="filter-container">
    <div class="search-box">
      <input
        id="searchBox"
        type="text"
        placeholder="Search by recipe name"
        [(ngModel)]="searchTerm"
        (ngModelChange)="fetchRentals()"
      />
    </div>
    <div class="sort-box">
      <label for="sortDropdown">Sort By Price:</label>
      <select id="sortDropdown" [(ngModel)]="sortValue" (ngModelChange)="fetchRentals()">
        <option value="1">Price Ascending</option>
        <option value="-1">Price Descending</option>
      </select>
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let recipe of recipes" class="recipe-card" (click)="openPopup(recipe)">
      <img src="{{ recipe.photo }}" alt="{{ recipe.recipeName }}" />
      <div class="card-details">
        <h2>{{ recipe.recipeName }}</h2>
        <p>Description: {{ recipe.description }}</p>
        <p>Price: {{ recipe.price }}</p>
      </div>
    </div>
    <div *ngIf="recipes.length === 0" class="norecord" style="text-align: center;">No records found</div>
  </div>
  <div *ngIf="showPopup && selectedRecipe" class="popup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <h2>{{ selectedRecipe.recipeName }}</h2>
      <h2>Details</h2>
      <hr class="line"/>
      <p><strong>Description: </strong>{{ selectedRecipe.description }}</p>
      <p><strong>Recipe Price: </strong>{{ selectedRecipe.price }}</p>
      <p><strong>Category: </strong>{{ selectedRecipe.category }}</p>
      <p><strong>Serve: </strong>{{ selectedRecipe.servingSize }}</p>
      <p><strong>Ingrediants: </strong>{{ selectedRecipe.ingredients }}</p>
      <p><strong>Posted By: </strong>{{ selectedRecipe.userName }}</p>
      <p><strong>Contact Email: </strong>{{ selectedRecipe.userEmail }}</p>
      <p><strong>Contact Phone: </strong>{{ selectedRecipe.userPhone }}</p>
    </div>
  </div>
  <div *ngIf="showLogoutPopup" class="delete-popup">
    <p>Are you sure you want to Logout?</p>
    <button (click)="logout()">Yes, Logout</button>
    <button (click)="setshowLogoutPopup(false)">Cancel</button>
  </div>
</div>
